<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <!-- Hjem ikon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="me-2 bi bi-house" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 .5a.5.5 0 0 1 .276.09l6.5 5A.5.5 0 0 1 15 6v7.5a.5.5 0 0 1-.5.5H10a.5.5 0 0 1-.5-.5v-5H6v5a.5.5 0 0 1-.5.5H1.5a.5.5 0 0 1-.5-.5V6a.5.5 0 0 1 .224-.41l6.5-5A.5.5 0 0 1 8 .5ZM2 6.383V13h3V8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5h3V6.383l-6-4.615-6 4.615Z" />
            </svg>
            ScooterLand
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Opret Kunde -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="opretkunde">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 16 16" style="margin-right: 12px;">
                    <path fill="currentColor" d="M8 0a8 8 0 1 0 8 8a8 8 0 0 0-8-8zm0 14a6 6 0 1 1 6-6a6 6 0 0 1-6 6zM9 7V4H7v3H4v2h3v3h2V9h3V7H9z" />
                </svg>
                <span>Opret Kunde</span>
            </NavLink>
        </div>

        <!-- Opret Ordre -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="opretordre">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" style="margin-right: 12px;">
                    <path fill="currentColor" fill-rule="evenodd" d="M8.126 4H6a1 1 0 0 0 0 2h2.126a4 4 0 0 1 0-2m.32 2.836C5.725 8.314 5 11.355 5 13v5a3 3 0 0 0 3 3h.028A4 4 0 0 1 8 20.556V15a4 4 0 0 1 8 0v5.556q0 .226-.028.444H16a3 3 0 0 0 3-3v-5c0-1.645-.726-4.686-3.445-6.164a4 4 0 0 1-7.11 0zM15.873 6H18a1 1 0 1 0 0-2h-2.126a4 4 0 0 1 0 2zM12 13a2 2 0 0 0-2 2v5.556c0 .797.647 1.444 1.444 1.444h1.112c.797 0 1.444-.647 1.444-1.444V15a2 2 0 0 0-2-2m-2-8a2 2 0 1 1 4 0a2 2 0 0 1-4 0" clip-rule="evenodd" />
                </svg>
                <span>Opret Ordre</span>
            </NavLink>
        </div>

        <!-- Kunde Catalog -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="kundekatalog">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 512 512" style="margin-right: 12px;">
                    <path fill="currentColor" fill-rule="evenodd" d="M309.334 117.333c0-41.237-33.43-74.666-74.667-74.666l-4.097.11C191.238 44.904 160 77.471 160 117.333C160 158.571 193.43 192 234.667 192l4.097-.111c39.332-2.126 70.57-34.693 70.57-74.556M256 362.667c0 23.314 6.233 45.173 17.124 64H85.334v-76.8c0-62.033 47.668-112.614 107.383-115.104l4.616-.096H272c19.434 0 37.712 5.091 53.642 14.047C284.293 269.933 256 312.996 256 362.667m65.303 86.295L384 410.667l62.697 38.295l-17.046-71.463l55.795-47.794l-73.232-5.871L384 256l-28.214 67.834l-73.232 5.871l55.795 47.794z" clip-rule="evenodd" />
                </svg>
                <span>Kunde Katalog</span>
            </NavLink>
        </div>

        <!-- Mekaniker Catalog -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="mekanikercatalog">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" style="margin-right: 12px;">
                    <path fill="currentColor" d="M20.96 16.45c.01-.15.04-.3.04-.45v.5zM11 16c0 .71.15 1.39.42 2H6v1c0 .55-.45 1-1 1H4c-.55 0-1-.45-1-1v-8l2.08-6c.2-.58.76-1 1.42-1h11c.66 0 1.22.42 1.42 1L21 11v5c0-2.76-2.24-5-5-5s-5 2.24-5 5m-3-2.5c0-.83-.67-1.5-1.5-1.5S5 12.67 5 13.5S5.67 15 6.5 15S8 14.33 8 13.5M19 10l-1.5-4.5h-11L5 10zm3.87 11.19l-4.11-4.11c.41-1.04.18-2.26-.68-3.11c-.9-.91-2.25-1.09-3.34-.59l1.94 1.94l-1.35 1.36l-1.99-1.95c-.54 1.09-.29 2.44.59 3.35a2.91 2.91 0 0 0 3.12.68l4.11 4.1c.18.19.45.19.63 0l1.04-1.03c.22-.18.22-.5.04-.64" />
                </svg>
                <span>Mekaniker Katalog</span>
            </NavLink>
        </div>

        <!-- Produkt Oversigt -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="produktydelsecatalog">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 8 8" style="margin-right: 12px;">
                    <path fill="currentColor" d="M5.5 0A2.5 2.5 0 0 0 3 2.5c0 .32.08.62.19.91L.28 6.29c-.39.39-.39 1.05 0 1.44c.2.2.46.28.72.28s.52-.09.72-.28L4.6 4.82c.28.11.58.19.91.19a2.5 2.5 0 0 0 2.5-2.5c0-.16 0-.32-.03-.47l-.97.97h-2v-2l.97-.97C5.83.01 5.67.01 5.51.01zM1 6.5c.28 0 .5.22.5.5s-.22.5-.5.5S.5 7.28.5 7s.22-.5.5-.5" />
                </svg>
                <span>Produkt Oversigt</span>
            </NavLink>
        </div>
        <!-- Lejeaftalekatalog -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="lejeaftalekatalog">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 48 48" style="margin-right: 12px;">
                    <defs>
                        <mask id="ipTAgreement0">
                            <g fill="none" stroke="#fff" stroke-linecap="round" stroke-width="4">
                                <rect width="32" height="40" x="8" y="4" stroke-linejoin="round" rx="2" />
                                <path fill="#555555" stroke-linejoin="round" d="M16 4h9v16l-4.5-4l-4.5 4z" />
                                <path d="M16 28h10m-10 6h16" />
                            </g>
                        </mask>
                    </defs>
                    <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipTAgreement0)" />
                </svg>
                <span>Lejeaftale</span>
            </NavLink>
        </div>
        <!-- Betalings Oversigt -->
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="betalingsoversigt">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" style="margin-right: 12px;">
                    <g fill="none" stroke="currentColor" stroke-width="1.5">
                        <path d="M17.414 10.414C18 9.828 18 8.886 18 7s0-2.828-.586-3.414m0 6.828C16.828 11 15.886 11 14 11h-4c-1.886 0-2.828 0-3.414-.586m10.828 0Zm0-6.828C16.828 3 15.886 3 14 3h-4c-1.886 0-2.828 0-3.414.586m10.828 0Zm-10.828 0C6 4.172 6 5.114 6 7s0 2.828.586 3.414m0-6.828Zm0 6.828ZM13 7a1 1 0 1 1-2 0a1 1 0 0 1 2 0Z" />
                        <path stroke-linecap="round" d="M18 6a3 3 0 0 1-3-3m3 5a3 3 0 0 0-3 3M6 6a3 3 0 0 0 3-3M6 8a3 3 0 0 1 3 3m-4 9.388h2.26c1.01 0 2.033.106 3.016.308a14.9 14.9 0 0 0 5.33.118c.868-.14 1.72-.355 2.492-.727c.696-.337 1.549-.81 2.122-1.341c.572-.53 1.168-1.397 1.59-2.075c.364-.582.188-1.295-.386-1.728a1.89 1.89 0 0 0-2.22 0l-1.807 1.365c-.7.53-1.465 1.017-2.376 1.162q-.165.026-.345.047m0 0l-.11.012m.11-.012a1 1 0 0 0 .427-.24a1.49 1.49 0 0 0 .126-2.134a1.9 1.9 0 0 0-.45-.367c-2.797-1.669-7.15-.398-9.779 1.467m9.676 1.274a.5.5 0 0 1-.11.012m0 0a9.3 9.3 0 0 1-1.814.004" />
                        <rect width="3" height="8" x="2" y="14" rx="1.5" />
                    </g>
                </svg>

                <span>Betalingsoversigt</span>
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
